<h1>Welcome to TruequeMix</h1>

<p>
  Application consists of the following resources.
  <ul>
    <li><a href="<%= users_url %>">Users</a></li>
    <li><a href="<%= items_url %>">Items</a></li>
    <li><a href="<%= likes_url %>">Likes</a></li>
  </ul>
</p>
